/* GENERAL */

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', monospace, sans-serif;
  height: 100vh;
  min-height: 100vh;
  background-size: cover;
}

/* HEADER */

header {
  position: absolute;
  top: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

nav.site-nav ul {
  display: flex;
  margin: 1rem 2rem 0 0;
}

nav.site-nav li {
  color: rgb(255, 255, 255);
  padding: 1rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgba(0, 128, 128, 0.75);
}

nav.site-nav li:hover {
  color: rgb(25, 25, 112);
}

nav a {
  text-decoration: none;
}

@media only screen and (max-width: 810px) {
  header {
    justify-content: center;
  }

  nav.site-nav ul {
    margin: 1rem 0 0 0;
  }
}

@media only screen and (max-width: 578px) {
  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
  }

  nav .fa.fa-lg {
    color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 1rem 1rem;
    background-color: rgba(0, 128, 128, 0.75);
  }

  nav .fa.fa-lg:hover {
    color: rgb(25, 25, 112);
  }
}

@media only screen and (min-width: 578px) {
  nav.mobile {
    display: none;
  }
}

/* ME */

.me {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 2rem 2rem;
  height: 100vh;
  min-height: 100vh;
}

.img {
  height: 16rem;
  width: 16rem;
  border: 2px solid rgba(0, 128, 128, 0.75);
  border-radius: 100% 100% 100% 100%;
  background-image: url("../images/primo-piano-Giulio.jpg");
  background-size: cover;
}
