/* GENERAL */

html {
  font-size: 16px;
}

body {
  background-image: url(../images/astronaut.jpg);
  background-size: cover;
  font-family: 'Roboto', monospace, sans-serif;
}

/* HEADER */

header {
  position: absolute;
  top: 0;
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

nav.site-nav ul {
  display: flex;
}

nav.site-nav li {
  color: rgb(255, 255, 255);
  margin-right: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

nav.site-nav a {
  font-size: 1rem;
  text-decoration: none;
}

/* MAIN */

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3rem;
  bottom: 3rem;
  width: 100%;
  box-sizing: border-box;
}

.main div.presentation {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  justify-content: center;
}

.main .presentation p {
  background-color: rgb(178, 117, 129);
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: bold;
  padding-left: 2rem;
  text-align: left;
  mix-blend-mode: lighten;
  width: 60%;
  margin: 2rem 0;
}

.main .img-container {
  width: 50%;
  height: 100%;
/*  background-color: rgb(0, 0, 0); */
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer .fa {
  color: rgb(255, 255, 255);
  margin-right: 1rem;
}
