/* GENERAL */

html {
  font-size: 16px;
}

/* html, body {
  max-width: 100%;
  overflow-x: hidden;
} */

/* MAIN PAGE */

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: 0 0;
  padding: 0 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: RGB(255, 140, 0);
}

/* GIULIO */

.giulio {
  color: rgb(255, 255, 255);
  font-family: 'Bungee', 'Permanent Marker', 'Pacifico', sans-serif;
  font-size: 6rem;
}
