/* GENERAL */

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', monospace, sans-serif;
}

/* HEADER */

header {
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
}

nav.site-nav ul {
  display: flex;
  margin: 1rem 2rem 0 0;
}

nav.site-nav li {
  color: rgb(255, 255, 255);
  padding: 1rem 1rem;
  font-weight: bold;
  font-size: 1rem;
  background-color: rgba(178, 34, 34, 0.75);
}

nav.site-nav li:hover {
  color: rgb(25, 25, 112);
}

nav a {
  text-decoration: none;
}

@media only screen and (max-width: 810px) {
  header {
    justify-content: center;
  }

  nav.site-nav ul {
    margin: 1rem 0 0 0;
  }
}

@media only screen and (max-width: 578px) {
  nav.desktop {
    display: none;
  }

  nav.mobile {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
  }

  nav .fa.fa-lg {
    color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    padding: 1rem 1rem;
    background-color: rgba(178, 34, 34, 0.75);
  }

  nav .fa.fa-lg:hover {
    color: rgb(25, 25, 112);
  }
}

@media only screen and (min-width: 578px) {
  nav.mobile {
    display: none;
  }
}

/* MAIN */

.main {
  background-image: url(../images/astronaut.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 100vh;
}

.main div.presentation {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 55%;
  height: 100%;
  margin: 0 0;
  padding: 0 0;
  justify-content: center;
}

.main .presentation p {
  background-color: rgba(178, 34, 34, 0.45);
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: bold;
  padding: 1rem 2rem;
  text-align: left;
  mix-blend-mode: luminosity;
  margin: 1rem 0;
}

#par_one {
  width: 19.375rem;
}

#par_two {
  font-size: 2rem;
  text-align: justify;
}

@media only screen and (max-width: 810px) {
  .main div.presentation {
    width: 100%;
  }
}

@media only screen and (max-width: 625px) {
  #par_one {
    font-size: 2.5rem;
    width: 16.25rem;
  }

  #par_two {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 314px) {
  .main {
    justify-content: center;
  }

  .main .presentation p {
    padding: 2rem 0;
    margin: 0 0;
    text-align: center;
  }

  #par_one {
    font-size: 2rem;
    width: 100%;
  }

  #par_two {
    display: none;
  }
}

/* ABOUT */

.me {
  height: 100vh;
  background-color: orange;
}

/* FOOTER */

footer {
  position: relative;
  bottom: 0;
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

footer .fab {
  color: rgb(255, 255, 255);
  padding: 1rem 2rem 1rem 0;
  margin-bottom: 1rem;
  background-color: rgba(178, 34, 34, 0.75);
}

#facebook {
  padding-left: 1rem;
}

#linkedin {
  margin-right: 2rem;
  padding-right: 1rem;
}

footer .fab:hover {
  color: rgb(25, 25, 112);
}

@media only screen and (max-width: 810px) {
  footer {
    justify-content: center;
  }

  #linkedin {
    margin-right: 0;
  }
}
